html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#word {
    font-size: 4em;
    font-weight: bold;

}

body {
    background-color: lightblue;
}

button {
    font-size: 2em;
}

#seen {
    margin-left: 40px;
}

#button-area {
    display: flex;
    flex-direction: row;
}

#word-area {
    padding-bottom: 50px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    }