html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#word {
    font-size: 4em;
    font-weight: bold;

}

body {
    background-color: lightblue;
}

button {
    font-size: 2em;
}

#seenWord {
    margin-left: 40px;
}

#button-area {
    display: flex;
    flex-direction: row;
}

#word-area {
    padding-bottom: 50px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    }

#start {
    position: absolute;
    left: 43%;
    top: 50%;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    /* background-color: #04AA6D; */
    background-color: #3B82F6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  /* button:hover {background-color: #3e8e41} */
  button:hover {background-color: #1E3A8A}
  
  button:active {
    /* background-color: #3e8e41; */
    background-color: #1E3A8A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #icon-credit {
    font-size: small;
    color: grey;
    position: absolute;
    bottom: 3%;
    right: 3%;
  }